body, h1, h2, h3, h4, h5, h6 {
  font-family: "Meiryo","メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
}

img {
  /* モバイル画面向けに指定されている width: 100% を解除 */
  width: auto;
}

code, .rst-content tt {
  font-size: 85%;
  color: #404040;
}

pre code {
  font-size: 85%;
}

.rst-content .admonition, .admonition p {
  font-size: 14px;
}

.rst-content h2, .rst-content h3, .rst-content h4, .rst-content h5, .rst-content h6 {
  margin-top: 24px;
}

.rst-content img {
    border: 1px solid #ddd;
}

.rst-content li {
  font-size: 15px;
  line-height: 155%;
  margin-top: 0.35em;
  margin-bottom: 0.35em;
}

.rst-content p {
  font-size: 15px;
  line-height: 165%;
  margin-bottom: 12px;
}

.rst-content .toc {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1em 0;
}

.rst-content .toc .toctitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.wy-side-nav-search {
  background-color: #b22323;
}
