body, h1, h2, h3, h4, h5, h6 {
  font-family: "Meiryo","メイリオ","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
}

img {
  /* モバイル画面向けに指定されている width: 100% を解除 */
  width: auto;
}

p {
  font-size: 15px;
  line-height: 165%;
}

code, .rst-content tt {
  font-size: 85%;
  color: #404040;
}

pre code {
  font-size: 85%;
}

.rst-content img {
    border: 1px solid #ddd;
}

.rst-content .toc {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.5em;
  margin: 1em 0;
}

.rst-content .toc .toctitle {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}


.wy-plain-list-decimal li, .rst-content .section ol li, .rst-content ol.arabic li, article ol li {
  margin-bottom: 0.3em;
}
.wy-side-nav-search {
  background-color: #b22323;
}
